<h3 class="p-3">{{data}}</h3>
<div class="">
    <div class="text-center row">
    <!-- <div class="col-6"> -->
    <div class="col-6 mt-5">
        <form id="d" style="background-color: rgb(64, 69, 160); margin-top: 50px; margin-bottom: 100px; border-radius: 20px;"
         action="" class="p-3 container w-75 text-center border">
    <h1 class="text-center p-5" style="color: rgb(173, 183, 199);">Sign In</h1>
    
    <div class="p-2 mt-2">
    <input [(ngModel)]="acno" id="ul" name="uname" [placeholder]="pdata"
    style="border: none;" class="form-control mt-2 p-2" type="text">
    </div>
    
    <div class="p-2 mt-2">
        <input [(ngModel)]="psw"  id="pl" name="password"
         class="form-control mt-2 p-2" placeholder="enter password">
        </div>
       
        <button (click)="login()" type="submit " class="btn btn-outline-info mt-4 p-2">login</button>
        <p class="mt-2" style="color: rgb(212, 208, 203);">
            dont have account?
            <a style="color: white; text-decoration: none;" href="register"> 
                <strong>create account</strong>
            </a>
        </p>
        
    
        </form>
    </div>
    <!-- </div> -->
    <div class="col-6 bdy p-1">
        <img id="d" style="height: 550px;"
        src="https://img.freepik.com/premium-vector/online-payment-concept-illustration_86047-118.jpg?w=2000" alt="">
    
    </div>
    </div>
    </div>  































    