<div class="row">
<div class="col-3" style="background-color: rgb(6, 6, 50);">
    <div class="col-3 mt-0 w-100" style="background-color:none">
    <div class="list-group border-0 w-100 p-100 fs-5 text-center" style="background-color: none">
        <button style="background-color: rgb(6, 6, 50); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
             View Profile
             <i class="fa-solid fa-user ms-2 text-warning fa-2x"></i> 
        </button>
        <hr class="text-white">
        <button style="background-color:rgb(6, 6, 50); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
             Balance Enquiry
             <i class="fa-solid fa-sack-dollar ms-2 text-warning fa-2x"></i>
         </button>
         <hr class="text-white">
         <button style="background-color: rgb(6, 6, 50); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
            Money Transfer
            <i class="fa-solid fa-money-bill-transfer ms-2 text-warning fa-2x"></i>
         </button>
         <hr class="text-white">
         <button style="background-color: rgb(6, 6, 50); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
             Account Statement
             <i class="fa-solid fa-table-list ms-2 text-warning fa-2x"></i>
         </button>
         <hr class="text-white">
         <button style="background-color: rgb(6, 6, 50); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
             LogOut
             <i class="fa-solid fa-person-running ms-2 text-warning fa-2x"></i> 
         </button>
         <hr class="text-white">
         <button style="background-color: rgb(6, 6, 50); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
            Delete Account
            <i class="fa-solid fa-person-circle-minus ms-2 text-warning fa-2x"></i> 

         </button>
         <hr class="text-white">


      </div>
<div class="text-center mt-5">

    <i class="fa-solid fa-hand-holding-dollar text-white fa-4x"></i>    
</div>
</div>
</div>
<div class="col-9  mt-3 text-center p-5 w-50" style="background-color: rgb(248, 249, 252); ">
    <h1 style="color: rgb(2, 2, 22);" class="text-primary">Enjoy Net Banking With <span class="text-warning">SBI</span> </h1>
    <P class="text-start w-75 container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum fugiat ab voluptatem quibusdam saepe ad repellendus. Velit non asperiores reprehenderit ab quia, esse dolor laboriosam fuga officia nostrum incidunt excepturi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores odio vitae dolor est temporibus voluptas exercitationem? Saepe illo et autem culpa asperiores recusandae vero ex, nisi repellat quasi aliquam eligendi.</P>
    <img id="d" class="w-75 mt-4 p-5"
     src="https://static.vecteezy.com/system/resources/thumbnails/023/835/584/small/online-service-bank-account-assistant-consulting-people-from-laptop-screen-client-saving-and-investing-money-vector.jpg" alt="">
</div>
</div>